body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
}

button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 30px;
}

button:hover {
    background: #0056b3;
}

.forgot-password a {
    color: #007BFF;
    text-decoration: none;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}
